NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=

NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_TWITTER_URL=
NEXT_PUBLIC_EMAIL_ADDRESS=
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=

GITHUB_REPO=
GITHUB_TOKEN=
